@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


* {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

#hero-section {
  display: grid;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.fish-container {
  width: 40rem;
  height: 100vh;
  display: grid;
  align-items: center;
  rotate: 180deg;
}

.spacer {
  aspect-ratio: 900/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.top-wave {
  background-image: url(./top-wave.svg);
}

#fish g {
  animation: swimCombined 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: calc(var(--order)*50ms);
  animation-iteration-count: infinite;

}

@keyframes swimCombined {
  0% {
    transform: translate(3%, +10%);
  }
  10% {
    transform: translate(+3%, -10%);
  }
  20% {
    transform: translate(-3%, -20%);
  }
  30% {
    transform: translate(+3%, -30%);
  }
  40% {
    transform: translate(-3%, -40%);
  }
  50% {
    transform: translate(+3%, -50%);
  }
  60% {
    transform: translate(-3%, -60%);
  }
  70% {
    transform: translate(+3%, -70%);
  }
  80% {
    transform: translate(-3%, -80%);
  }
  90% {
    transform: translate(+3%, -90%);
  }
  100% {
    transform: translate(-3%, -100%);
  }
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.bottom-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.bottom-wave .shape-fill {
  fill: #2214F7;
}

.bg-circles {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

@keyframes bubbles {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }

}

#circles g {
  animation: bubbles 3s;
  animation-timing-function: ease-in-out;
  animation-delay: calc(var(--order)*150ms);
  animation-iteration-count: infinite;
  opacity: 0;
  z-index: 1;
}

.headline {
  position: absolute;
  z-index: 10;
  color: white;
  top: 3rem;
  left: 3rem;
  font-size: 2.5rem;
  max-width: 25rem;
  overflow: hidden;
}

.text {
  animation: typing 2s steps(30,end);
  white-space: nowrap;
  letter-spacing: .11em;
}

@keyframes typing {
  from { width: 0 }
  to { width: 25rem }
}

.about {
  max-width: 50rem;
  margin-top: 10rem;
}

.text-type-2 {
  color: white;
  font-size: 2rem;
  animation: typing 2s ease-in;
}